###> symfony/framework-bundle ###
.env
/public/bundles/
/public/uploads/*
!/public/uploads/image1.jpg
!/public/uploads/image2.jpg
!/public/uploads/image3.jpg
!/public/uploads/image4.jpg
!/public/uploads/image5.jpg
!/public/uploads/image6.jpg
!/public/uploads/image7.jpg
!/public/uploads/image8.jpg
!/public/uploads/image9.jpg
/var/
/vendor/
.idea
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> custom ignores ###
.php_cs.cache
yarn-error.log
###< custom ignores ###
