{% extends 'base.html.twig' %}

{% block title %}
    Order delete
{% endblock %}

{% block body%}
    <p>Carefully! Would you delete {{ provider.name }}?</p>
    <p><a href="{{ path('app_order_listing') }}">Cancel</a></p>
    <p><a href="{{ path('app_order_deleteconfirm', {id: order.id}) }}">Confirm</a></p>
{% endblock %}