{% extends 'base.html.twig' %}

{% block title %}
    Provider delete
{% endblock %}

{% block body%}
    <p>Carefully! Would you delete {{ provider.name }}?</p>
    <p><a href="{{ path('app_provider_listing') }}">Cancel</a></p>
    <p><a href="{{ path('app_provider_deleteconfirm', {id: provider.id}) }}">Confirm</a></p>
{% endblock %}