{% extends 'base.html.twig' %}

{% block title %}
    Product delete
{% endblock %}

{% block body%}
    <p>Carefully! Would you delete {{ product.name }}?</p>
    <p><a href="{{ path('app_product_listing') }}">Cancel</a></p>
    <p><a href="{{ path('app_product_deleteconfirm', {id: product.id}) }}">Confirm</a></p>
{% endblock %}