{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · Credits{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mb-5">
            <h1 class="display-1">Credits</h1>
            <div class="p-3 text-white bg-danger">the neverending store</div>
        </div>
    </div>
{% endblock %}
