{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · the neverending store{% endblock %}

{% block body %}
    <h1 class="display-1">awazon</h1>
    <div class="p-3 mb-2 text-white bg-danger">the neverending store</div>
    <div class="row">
        {% for product in products %}
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{  product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="#" class="btn btn-primary">BUY!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
