{% extends "frontend/base.html.twig" %}

{% block title %}Awazon{% endblock %}

{% block body %}
    <h1 class="display-1">awazon</h1>
    <div class="p-3 mb-2 text-white bg-danger">the neverending store</div>
{% endblock %}
