{% extends 'base.html.twig' %}

{% block title %}
    Llistat de Comentaris
{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-sm-6">
            <h1>Hello! You are in Awazon</h1>
        </div>
    </div>
{% endblock %}